`<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<style>

</style>

<body>
<h2 class="text-center">欢迎登陆</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <form action="" method="post"></form>
            {% csrf_token %}
            <dic class="form-group">
                <label for="user">用户名</label>
                <input type="text" class="form-control" id="user" name="user">
            </dic>
            <dic class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password">
            </dic>

            <br>
            <input type="button" class="btn btn-success pull-right login_btn" value='登陆'>
            <a href="/reg/" class="btn btn-success pull-right">注册</a>

            <span class="error"></span>

        </div>
    </div>

</div>



<script src="/static/js/jquery.js"></script>
<script>
    $(".login_btn").click(function () {

        $.ajax(
            {
                url: "",
                type: "post",
                data: {
                    user: $("#user").val(),
                    psd: $("#password").val(),
                    csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                },
                success:function (response) {
                    if (response.user) {
                        location.href = "/index/0/"
                    }else{
                        $(".error").html(response.error_msg).css("color","red")

                    }
                }
            })
    })


</script>

</body>
</html>